.report-conatiner {
  gap: 5px;
}

.reports-box,
.report-title {
  padding: 1% 3%;
  flex-wrap: wrap;
  gap: var(--gap3);
  background: #434343;
  color: #fff;
}

.report-title > p {
  font-size: var(--fs4);
}

.report-item {
  width: calc(100% / 2 - (var(--gap3) / 2));
  padding: 1% 2%;
  background: #383838;
  font-size: var(--fs6);
  cursor: pointer;
}

.report-item.success {
  background: #70e000;
}

.report-item.warning {
  background: #9397e8;
}

.report-item.info {
  background: #555;
}
