:root {
  --bg-blue: #337ab7;
  --bg-hoki: #67809f;
  --bg-red: #e7505a;
  --bg-purple: #8e44ad;
  --bg-green: #00c49f;
  --pie-w: 300px;
}

.statistic_box {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap1);
}

.statistic_box > h1 {
  inline-size: 100%;
  font-size: var(--fs2);
  color: #eee;
  font-weight: 300;
}

.wrapper_item {
  position: relative;
  width: calc(100% - 50% - 30px);
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dashboard-stat {
  position: relative;
  width: calc(100% / 2 - 10px);
  height: 80px;
  overflow: hidden;
  border-radius: 4px;

  .visual {
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: var(--fs5);
    > svg {
      /* margin-left: -15px; */
      font-size: 60px;
      /* line-height: 60px; */
      color: #fff;
      opacity: 0.2;
    }
  }
}

.details {
  position: absolute;
  right: 15px;
  padding-right: 15px;
  color: #fff;
}
.number {
  padding-top: 15px;
  text-align: right;
  font-size: var(--fs5);
  margin-bottom: 0;
  font-weight: 300;
  .desc {
    text-transform: capitalize;
    text-align: right;
    font-size: var(--fs7);
    font-weight: 300;
  }
}

.blue {
  background-color: var(--bg-blue);
}

.red {
  width: calc(100% / 2);
  background-color: var(--bg-red);
}

.purple {
  background-color: var(--bg-purple);
}

.hoki {
  background-color: var(--bg-hoki);
}

.green {
  background-color: var(--bg-green);
}

.statistic_product {
  position: relative;
  padding: 10%;
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.statistic_product * {
  user-select: none;
  outline: none;
}

.recharts-wrapper {
  position: relative;
  /* max-width: var(--pie-w) !important;
  max-height: calc(var(--pie-w) + 100px) !important; */
  cursor: pointer !important;
}

svg.recharts-surface {
  position: relative !important;
  /* width: var(--pie-w) !important;
  height: var(--pie-w) !important; */
}

.pie {
  width: 100%;
  height: 100%;
}

.item-info {
  position: absolute;
  top: 10%;
  left: var(--pie-w);
}

.item-info > p {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #fff;
  font-size: var(--fs8);
}

.item-info > p > svg {
  font-size: var(--fs5);
}

.full_analystic {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 2%; */
  /* background: #383838; */
  border-radius: 30px;
}

.donut-chart-container {
  position: relative;
  text-align: center;
}

.donut-chart {
  transform: rotate(-90deg);
  transform-origin: center;
}

.donut-chart-container path {
  transition: all 0.3s ease;
}

.donut-chart g {
  stroke: #494949;
  stroke-width: 4;
  cursor: pointer;
  transition: all 0.1s ease;
}

.donut-chart .passive {
  stroke: #494949;
  stroke-width: 4;
  opacity: 0.2;
}

.donut-chart .active {
  stroke: #e3e3e3;
  stroke-width: 1;
  opacity: 1;
}

.donut-chart g:hover {
  opacity: 1;
}

.donut-chart-container > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
  font-size: var(--fs7);
  color: #fff;
  background: #353535;
  border-radius: 50%;
  z-index: 999;
}

@media (max-width: 600px) {
  :root {
    --pie-w: calc(300px + (500 - 300) * (100vw - 320px) / (1440 - 320));
  }

  .wrapper_item {
    width: 100%;
  }

  .statistic_product {
    width: 100%;
    height: 500px;
  }
}
