.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 eşit sütun */
  grid-template-rows: auto auto; /* Satırların boyutu içeriğe göre ayarlanacak */
  gap: 10px; /* Öğeler arası 10px boşluk */
}

.item_grid {
  border: 1px solid #333; /* Sınır stili */
  padding: 10px; /* İç boşluk */
  text-align: center; /* Metni ortala */
}

.item_grid1 {
  grid-column: span 2; /* 2 sütunu kapla */
  grid-row: span 1; /* 1 satırı kapla */
}

.item_grid2 {
  grid-column: span 2; /* 2 sütunu kapla */
  grid-row: span 2; /* 2 satırı kapla */
}

.item_grid3 {
  grid-column: span 1; /* 1 sütunu kapla */
  grid-row: span 1; /* 1 satırı kapla */
}

.item_grid4,
.item_grid5 {
  grid-column: span 1; /* 1 sütunu kapla */
  grid-row: span 1; /* 1 satırı kapla */
}

.typing-text {
  width: 100%;
  margin: 0 auto;
  position: relative;
  white-space: pre-wrap; /* Metnin alt satıra geçmesini sağlar */
  font-family: monospace; /* Metnin düzgün görünmesi için */
}

.typing-text::after {
  content: '|';
  position: absolute;
  left: 0;
  bottom: 0;
  animation: blink-caret 0.75s step-end infinite;
  color: #ff0000;
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

