:root {
  --fs1: calc(36px + (48 - 36) * (100vw - 320px) / (1440 - 320));
  --fs2: calc(28px + (40 - 28) * (100vw - 320px) / (1440 - 320));
  --fs3: calc(24px + (32 - 24) * (100vw - 320px) / (1440 - 320));
  --fs4: calc(16px + (24 - 16) * (100vw - 320px) / (1440 - 320));
  --fs5: calc(16px + (20 - 16) * (100vw - 320px) / (1440 - 320));
  --fs6: calc(14px + (16 - 14) * (100vw - 320px) / (1440 - 320));
  --fs7: calc(13px + (14 - 13) * (100vw - 320px) / (1440 - 320));
  --fs8: calc(12px + (13 - 12) * (100vw - 320px) / (1440 - 320));
  --fs9: calc(15px + (18 - 15) * (100vw - 320px) / (1440 - 320));
  --pd1: 5% 7%;
  --pd2: 3.5% 5%;
  --pd3: 3%;
  --pd4: 4% 4% 5% 5%;
  --pd5: 1.3% 3%;
  --gap1: calc(15px + (30 - 15) * (100vw - 320px) / (1440 - 320));
  --gap2: calc(10px + (20 - 10) * (100vw - 320px) / (1440 - 320));
  --gap3: 15px;
  --gap4: calc(20px + (40 - 20) * (100vw - 320px) / (1440 - 320));
  --gap5: 5px;
  --gap6: 10px;
  --nwh: calc(65px + (80 - 65) * (100vw - 320px) / (1440 - 320));

  --cl1: #fff;
  --cl2: #000;

  /* ds */
  --cl3: #eee9;

  --cl4: #333;
  --cl5: #444;
  --cl6: #666;
  --cl7: #ddd;
  --cl8: #ff6347;
  --cl9: #aaa;
  --cl10: #eee;
  --cl11: #222;
  --cl12: #454545;
  --cl13: #ccc;
  --cl14: #b7bbbb5e;
  --cl15: #36cfc9;
  --cl16: #9e9e9e;
  --cl17: #d12c2c;
  --cl18: #787aff;
  --cl19: #17b2ea18;
  --cl20: #0002;
  --cl21: #17b1ee80;
  --cl22: #353535;
  --cl23: #17b2ea63;
  --cl24: #383838;
  --cl25: #282828;
  --cl26: #494949;
  --cl27: #999999;
  --cl28: #393939;
  --cl29: #555;
  --cl30: #5cdbd380;
  --cl31: #5cdbd342;
  --cl32: #484848;
  --cl33: #373737;
  --cl34: #252525;
  --cl35: #00000055;
  --cl36: #00000080;
  --cl37: #c3c3c379;
  --cl38: #65ff57;
  --cl39: #ff0000;
  --cl40: #3ce75b;
  --cl41: #38a3a5;
  --cl42: #424242;
  --cl43: #32cd32;
  --cl44: #5cdbd3;
  --cl45: #4caf50;
  --cl46: #111;

  /* ds */
  --cl47: #eee2;
  --cl48: #eee4;
  --cl49: #cccccc2f;
  --cl50: #f9e4bc;
  --cl51: #e6a8a8;
  --cl52: #e07a7a;
  --cl53: #fef69e;
  --cl54: #e0b974;
  --cl55: #00ff00;

  --cl56: #ffcc00;
  --cl57: #353434;
  --cl58: #11b911;
  --cl59: #fe0;
  --cl60: #5496d4;
  --cl61: #32ff09a2;
  --cl62: #33ff09;

  /* ds */
  --cl63: #d82a00;

  --cl64: #434343;
  --cl65: #0bbe05;
  --cl66: #9397e8;
  --cl67: #9c9999;
  --cl68: #545454;
  --cl69: #535353;

  /* ds */
  --cl70: #ffffffd9;

  --primary-color1: #89b0ae;
  --primary-light-color1: #f5fbfb;
  --primary-bright-color1: #89b0ae65;

  --primary-color2: #d8e2dc;
  --primary-light-color2: #fcfefc;
  --primary-bright-color2: #d8e2dc69;

  --primary-color3: #ffd6ba;
  --primary-light-color3: #fff8ec;
  --primary-bright-color3: #ffd6ba6e;

  --primary-color4: #81b29a;
  --primary-light-color4: #c4eadf;
  --primary-bright-color4: #81b29a69;

  --primary-color5: #e29578;
  --primary-light-color5: #fdebd6;
  --primary-bright-color5: #e294786b;

  --primary-color6: #dde5b6;
  --primary-light-color6: #f8fbe9;
  --primary-bright-color6: #dde5b669;

  --primary-color7: #43aa8b;
  --primary-light-color7: #c0f8e7;
  --primary-bright-color7: #43aa8b69;

  --primary-color8: #f25c54;
  --primary-light-color8: #fac9c6;
  --primary-bright-color8: #f25c5469;
}

.w100 {
  width: 100%;
}

.df {
  display: flex;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.flc {
  flex-direction: column;
}

.jcsb {
  justify-content: space-between;
}

.pd1_2 {
  padding: 1% 2%;
}
